@if (TempData["Success"] != null)
{
    <script src="~/lib//jquery//dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    //toastr js
    <script type="text/javascript">
        toastr.success('@TempData["Success"]')
    </script>

    //<h2>@TempData["Success"]</h2>
}
@if (TempData["Error"] != null)
{
    <script src="~/lib//jquery//dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    //toastr js
    <script type="text/javascript">
        toastr.error('@TempData["Error"]')
    </script>
}