@using Qvastart___1.ViewModels;
@model ForgetPasswordViewModel

<div class="row">

    <div class="col-md-12">
        <h1 class="text-info ProgtiqvaFontBold">
            Forgot Your Password<span class="FontNumber">?</span>
        </h1>
        <p class="ProgtiqvaFont">Don't worry<span class="FontNumber">,</span> You can recover it<span class="FontNumber">!</span></p>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="ForgetPassword" method="post" role="form">
            <h4 class="ProgtiqvaFontBold">
                Enter your Email
            </h4>
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group mt-3">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-warning">Reset!</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2">
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}