@using Qvastart___1.ViewModels;
@model ResetPasswordViewModel
<div class="row">
    <div class="col-md-12">
        <h4 class="text-info ProgtiqvaFontBold">Reset Password</h4>
    </div>
    <div class="col-md-10">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" role="form" class="form">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" hidden />
            <input asp-for="UserId" hidden />
            <div class="form-group row">
                <label asp-for="Password" class="col-md-4 mt-3"></label>
                <div class="col-md-8 ">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="Text-danger"></span>
                </div>
                <label asp-for="ConfirmedPassword" class="col-md-4 mt-3"></label>
                <div class="col-md-8 ">
                    <input asp-for="ConfirmedPassword" class="form-control" />
                    <span asp-validation-for="ConfirmedPassword" class="Text-danger"></span>
                </div>

            </div>

            <div class="form-group mt-2">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-danger form-control">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2">
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}