<div class="row">
    <div class="col-md-12 ProgtiqvaFontBold  mt-xl-5 text-center">
        <h2 class="text-center text-success">
            Password Has Been Changed.
        </h2>
        <button class="btn btn-outline-success text-center w-25" asp-controller="Account" asp-action="Login">Login</button>
    </div>
</div>