<div class="container">
    <h3 class="text-center mt-4">Administrator Page</h3>
    <div class="row bg-info bg-opacity-25 rounded-4 p-4">
        <div class="col-md-12">
            <div class="border border-info border-4 border-opacity-100 rounded-3">
                <div class="accordion bg-info bg-opacity-25" id="AdminAccordion">
                    @* -------------------------- PRODUCT MANAGEMENT ------------------------ *@
                    <div class="accordion-item ">
                        <h3 class="accordion-header" id="AdminProductManagement">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Product Management.
                            </button>
                        </h3>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="AdminProductManagement" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h2 class="text-danger">PRODUCT MANAGER</h2>
                                </div>
                                <div class="col-md-12">
                                    <strong>coming soon...</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* -------------------------- ORDERS ------------------------ *@
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="AdminOrderManagement">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Orders Management.
                            </button>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="AdminOrderManagement" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h2 class="text-danger">ORDERS MANAGER</h2>
                                </div>
                                <div class="col-md-12">
                                    <strong>coming soon...</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*------------------------- Site Management --------------------------*@
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="AdminSiteManagement">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Website Management.
                            </button>
                        </h3>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="AdminSiteManagement" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h2 class="text-danger">WEBSITE MANAGER</h2>
                                </div>
                                <div class="col-md-12">
                                    <strong>coming soon...</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
